/* styles.css */
body {
    font-family: Arial, sans-serif;
}

/* Popular Manga */
.manga-grid {
    background-color: #0A0A0A;
    border-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    display: flex;
    overflow-x: auto;
    gap: 16px; /* Расстояние между карточками */
    padding: 16px;
    scroll-behavior: smooth; /* Плавная прокрутка */
}

.manga-card {
    min-width: 200px; /* Минимальная ширина карточки */
    max-width: 200px;
    flex-shrink: 0; /* Запретить уменьшение карточек */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.manga-card img {
    width: 200px;
    height: 300px;
}

.scroll-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scroll-btn {
    flex-shrink: 0;
}

.manga-grid {
    flex-grow: 1;
    display: flex;
    overflow-x: auto;
    gap: 16px; /* Расстояние между карточками */
    padding: 16px;
    scroll-behavior: smooth; /* Плавная прокрутка */
}

.manga-card h3 {
    height: 40px;
}


/* Categories */

.categories
